@import "../../colors.scss";

/* || component layout */

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background-color: $darkVoid;
    max-width: 270px;
    width: 100%;
    align-items: flex-start;
    border-radius: 8px;
}

/* || paragraph Css */

.paragraph{
    font-size: 14px;
    color: $shadyLady;
}